Extract Email

In [17]:
import re
import docx2txt
my_text = docx2txt.process(r"C:\Users\Opus\Desktop\Naive-Resume-Matching-master\Data\Resumes\Resume(Shaon).docx")
#print(my_text)
emails = re.findall(r"[a-z0-9\.\-+_]+@[a-z0-9\.\-+_]+\.[a-z]+", my_text)[0]
print(emails)

shaonsikder.ewu@gmail.com

Phone number

In [18]:
Phone = re.findall(r'[\+\(]?[1-9][0-9 .\-\(\)]{8,}[0-9]', my_text)[0]
print(Phone)

+880 1747123472

In [20]:
name = re.findall(r"[^()0-9-]+", my_text)[0]
print(name)

Joar Sahara Bazar Road

Dhaka

In [2]:
import pandas as pd 
df = pd.read_csv("ShortlistedResumes.csv")
df.head()

,Rank,Name,Scores,Email,Phone
0,1,senior-data-analyst-resume-example.pdf,92.754705,farahmartin@email.com,(123) 456-7890
1,2,data-analyst-resume.pdf,90.424296,shaonsikder.ewu@gmail.com,+880 1747123472
2,3,Resume(Shaon).docx,80.417532,alonsoromero@email.com,(123) 456-7890

In [ ]:
df = df.sort_values(
    by=['Scores'], ascending=False).reset_index(drop=True)